# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/

common/target/classes/
common/target/common.jar

manager/dal/target/classes/

manager/mapper/target/classes/

manager/service/target/classes/

manager/web/target/apache-tomcat-maven-plugin/
manager/web/target/tomcat/webapps/
manager/web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/index_jsp.class
yitao.iml
